[submodule "ServiceRegistry"]
	path = ServiceRegistry
	url = https://github.com/ParagShah97/ServiceRegistry.git
[submodule "OrderService"]
	path = OrderService
	url = https://github.com/ParagShah97/OrderService.git
[submodule "ProductService"]
	path = ProductService
	url = https://github.com/ParagShah97/ProductService.git
[submodule "InventraxConfigServer"]
	path = InventraxConfigServer
	url = https://github.com/ParagShah97/InventraxConfigServer.git
[submodule "InventraXConfigData"]
	path = InventraXConfigData
	url = https://github.com/ParagShah97/InventraXConfigData.git
[submodule "PaymentService"]
	path = PaymentService
	url = https://github.com/ParagShah97/PaymentService.git
